@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 24 24 27; /* zinc-900 */

  --muted: 113 113 122; /* zinc-500 */
  --border: 228 228 231; /* zinc-200 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 9 9 11; /* zinc-950 */
    --foreground: 244 244 245; /* zinc-100 */

    --muted: 161 161 170; /* zinc-400 */
    --border: 39 39 42; /* zinc-800 */
  }
}


@theme inline {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-muted: rgb(var(--muted));
  --color-border: rgb(var(--border));

  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
  border-color: rgb(var(--border));
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
